body {
    font-family: Arial;
    background: #f4f4f4;
}

header {
    background: darkred;
    color: white;
    padding: 15px;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}